{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <title>Processing File...</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Processing Your Zip File</a>
    </nav>

    <div class="container" style="margin-top: 10px;">
        ​<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-md-center jumbotron">
                ​<div class="text-center">
                    {% if response == "accepted" %}
                    ​<h1 id='status'>Zipping Your File</h1>
                    <br>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" id="progress-zip" role="progressbar" style="width: 0%;"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div id="persen">0%</div>
                        </div>
                    </div>
                    <br>
                    <a id="btn-download" type="button" class="btn btn-primary" href="">Download Compressed
                        file</a>
                    {% else %}
                    <h1 id='status'>Gagal dalam mengirim File, Silahkan coba kembali</h1>
                    {% endif %}
                    <button id="btn-home" type="button" class="btn btn-secondary"
                        onclick="window.location.href= '/'">Home</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/pooper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/socks.min.js' %}"></script>
    <script src="{% static 'js/stomp.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#btn-download").hide();
            WebSocketTest();
        });
    </script>
    <script>
        function WebSocketTest() {

            if ("WebSocket" in window) {
                var last_percentage;
                var ws = new SockJS('http://152.118.148.95:15674/stomp');
                var c_disp = Stomp.over(ws);
                var mq_disp = "/exchange/1606918396/{{ routing }}";
                var on_connect = function () {
                    console.log('connected');
                    c_disp.subscribe(mq_disp, on_message);
                };
                var on_error = function () {
                    console.log('error');
                };
                var on_message = function (m) {
                    console.log('message received');
                    document.getElementById("persen").innerHTML = m.body + '% ';
                    $('#progress-zip').attr('aria-valuenow', m.body).css('width', m.body + '%');
                    if (last_percentage == '100') {
                        var urlDl = "";
                        if (window.location.hostname == "localhost") {
                            let urlBE = "http://localhost:8002/";
                            urlDl = urlBE;
                        } else {
                            let urlBE = "http://infralabs.cs.ui.ac.id:20305/";
                            urlDl = urlBE;
                        }
                        urlDl += m.body
                        console.log(urlDl);
                        $('#btn-download').attr('href', urlDl);
                        $("#btn-download").show();
                        $("#progress-zip").hide();
                        document.getElementById("status").innerHTML = "Your File Ready to be Downloaded";
                        c_disp.disconnect();
                    }
                    last_percentage = m.body;
                };
                c_disp.connect('0806444524', '0806444524', on_connect, on_error, '/0806444524');
            } else {
                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
            }
        }
    </script>
</body>

</html>